*{
    font-family: "Kaushan Script", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #32353e;
  transition: color 0.5s;
}
/* header */
header{
    background-color: #32353e;
    padding: 20px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .search-icon{
    margin-right: 50px;
    display: flex;
}
header .search-icon a{
    width: 30px;
    height: 30px;
    background-color: #15c0c7;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 5px;
    transition: background-color 0.5s;
}
header .search-icon i{
    transition: color 0.5s;
}
header .search-icon a:hover i{
    color: #32353e;
}
header .search-icon a:hover{
    background-color: white;
}
header form{
    background-color: #4a4e55;
    padding: 5px 10px;
    margin-left: 50px;
}
header form input{
    background: transparent;
    outline: none;
    border: 0;
    color: white;
}
header form input::placeholder {
  color: white;
}
header form button{
    background-color: transparent;
    border: 0;
    color: white;
}
@media screen and (max-width: 767px) {
  header .search-icon {
    display: none;
  }
  header form {
    width: 100%;
    display: flex;
  }
  header form input {
    flex-grow: 1;
  }
}

/* nav */
nav{
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
nav .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-content .logo img{
    width: 180px;
}
nav .nav-content .nav-links{
    display: flex;
}
nav .nav-content .nav-links a{
    padding: 10px;
}
nav .nav-links li a:hover {
  color: #15c0c7;
}
nav .nav-links li a.nav-active {
  color: #15c0c7;
}
nav .nav-content .personal-info{
    text-align: right;
    font-size: 15px;
}
nav .nav-content .personal-info span{
    display: block;
    color: #32353e;
}
nav .nav-content .personal-info a{
    color: #15c0c7;
}
nav .nav-content .personal-info a:hover{
    color: #32353e;
}

nav i.fa-bars {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  nav .nav-content .nav-links,nav .personal-info {
    display: none;
  }
  nav i.fa-bars {
    display: block;
  }
}
/* landing */
#landing{
    background-image: url(../images/imgi_2_slider_1.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.landing-layer{
    position: absolute;
    background-color: #00000059;
    inset: 0;

}
.landing-content{
    color: white;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    position: relative;
}
.landing-content h1{
    font-size: 50px;
}
.landing-content p{
    margin: 40px 0;
}
.landing-content a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #15c0c7;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background 0.5s;
    width: fit-content;
    margin: 0 auto;
}
.landing-content a:hover{
    background-color: #32353e;
}

@media screen and (max-width: 991px) {
    .landing-content h1 {
  margin-bottom: 25px;
}
  .landing-content p {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .landing-content {
    width: 100%;
  }
  
}

/* Services*/
#Services{
    padding: 50px 0;
    text-align: center;
}
#Services .main-heading{
    font-size: 22px;
}
.service-content{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}
.service-content .s-card{
    flex: 1 1 calc(25% - 20px);
    text-align: center;
    box-sizing: border-box;

}
.service-content .s-card i{
    color: white;
    background-color: #15c0c7;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    
}
.service-content .s-card h3{
    color: #32353e;
    position: relative;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
}
.service-content .s-card h3::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: #b8b8b8;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.service-content .s-card p{
    color: #b8b8b8;
    line-height: 1.5;
    width: 80%;
    margin: 20px auto;
}
#Services a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #15c0c7;
    border-radius: 30px;
    color: white;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
} 
#Services a:hover{
    background-color: #32353e;
}

@media (max-width: 992px){
    .service-content .s-card{
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 576px){
    .service-content .s-card{
        flex: 1 1 100%;
    }
}

/* Cases */
#Case{
    min-height: 550px;
    background-image: url(../images/imgi_13_case.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
}
.case-layer{
    position: absolute;
    background-color: #00000059;
    inset: 0;

}
#Case h2{
    padding-top: 50px;
    font-weight: 600;
    font-size: 40px;
    color: white;
}
#Case .case-content{
    color: white;
    width: 60%;
    position: relative;
    text-align: center;
    margin: 0 auto;
    line-height: 1.8;
}
#Case .case-content p:first-of-type{
    padding: 20px 0;
    font-size: 25px;
}
#Case .case-content p:last-of-type{
    padding: 20px 0;
    font-size: 18px;
    margin: 20px 0;
}
#Case .case-content a{
    padding: 10px 7px;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    border: white solid 2px;
    font-size: 15px;
    transition: background-color 0.5s;
}
#Case .case-content a:hover{
    background-color: white;
    color: #32353e;
}
@media (max-width: 768px){
    #Case .case-content p:last-of-type{
        display: none;
    }
}
@media (max-width: 575px){
    #Case h2{
        font-size: 30px;
    }
    #Case .case-content p:first-of-type{
        font-size: 20px;
    }
}


/* Buisness */
#Business{
    padding: 50px 0;
}
.main-heading{
    text-align: center;
    margin-bottom: 50px;
    color: #32353e;
}
.main-heading span{
    padding: 10px;
}
.main-heading h2{
    position: relative;
}
.main-heading h2::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #15c0c7;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    animation: changeW 3s infinite;
}
@keyframes changeW {
    0%{
        width: 100px;
    }
    50%{
        width: 0px;
    }
    100%{
        width: 100px;
    }
}
.main-heading h2::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #15c0c7;
    bottom: -17px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}
.business-cards{
    display: flex;
    flex-wrap: wrap;
}
.business-cards .b-card{
    width: calc(100% / 3);
    padding: 0 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.b-card .b-card-img{
    overflow: hidden;
}
.b-card .b-card-img img{
    width: 100%;
    transition: transform 0.5s;
    display: block;
}
.b-card .b-card-img:hover img{
    transform: scale(1.2);
}
.b-card .b-card-info{
    padding: 10px;
}
.b-card .b-card-info span{
    color: #15c0c7;
    margin-right: 15px;
    font-size: 16px;
}
.b-card .b-card-info h3{
    margin: 10px 0;
    color: #32353e;
}
.b-card .b-card-info p{
    color: #777;
    margin-top: 10px;
}

@media screen and (min-width:576px) and (max-width:991px){
  .business-cards .b-card{width: 50%;}  
}
@media screen and (max-width:575px){
  .business-cards .b-card{width: 100%;}  
}

/* performance */
#performance{
    background-image: url(../images/imgi_14_case21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    padding: 50px 0;
    color: white;
    position: relative;
}
.perform-layer{
    position: absolute;
    background-color: #00000059;
    inset: 0;
}
#performance h2{
    padding: 20px 0;
    font-weight: 600;
    font-size: 35px;
    color: white;
}
#performance .main-heading h2::after{
    background-color: white;
}
#performance .main-heading h2::before{
    background-color: white;
}
#performance span{
    color: white;
    font-size: 23px;
    position: relative;
}
#performance .perform-content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
#performance .perform-content .circle {
    flex: 0 0 200px;        
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    text-align: center;
}
#performance .perform-content .circle h2{
    border: white solid 3px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;    
    align-items: center;        
    text-align: center;
}
#performance .perform-content .circle h4{
    padding: 20px 0;
    font-size: 20px;
}

@media (min-width: 1200px) {
    #performance .perform-content .circle {
        flex: 0 0 calc(25% - 20px);
    }
}


@media (max-width: 1199px) and (min-width: 992px) {
    #performance .perform-content .circle {
        flex: 0 0 calc(33.333% - 20px);
    }
}


@media (max-width: 991px) and (min-width: 576px) {
    #performance .perform-content .circle {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 575px) {
    #performance .perform-content .circle {
        flex: 0 0 100%;
    }
}
/* Testimonials */
#Testimonials {
  padding: 50px 0;
}
#Testimonials .main-heading{
    padding: 20px 0;
    font-size: 25px;
}
.Testimonials-content {
  display: flex;
  overflow-x: hidden;
  position: relative;
}
.Testimonials-content .testimonial {
  min-width: 50%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.Testimonials-content .testimonial .test-img img {
  display: block;
  border-radius: 50%;
}
.Testimonials-content .testimonial .test-info {
  margin-left: 15px;
}
.Testimonials-content .testimonial .test-info p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #777777;
}
.Testimonials-content .testimonial .test-info h4 {
  color: #32353e;
}
.test-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
    display: flex;
    justify-content: space-between;
}
.test-controls div {
  background-color: #f0f0f0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
      cursor: pointer;
}
.test-controls div i {
  color: #15c0c7;
}
@media screen and (max-width:991px){
  .Testimonials-content .testimonial{
    min-width: 100%;
    flex-direction: column;
    text-align: center;
  }
    .Testimonials-content .testimonial p{
    margin: 10px 0;
  }
}

/* aspects */
#aspects{
    padding: 50px 0;
    margin: 50px 0;
    background-image: url(../images/imgi_15_revenue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.aspects-layer{
    position: absolute;
    background-color: #0000007c;
    inset: 0;
}
#aspects .main-heading{
    color: white;
    line-height: 1.8;
    position: relative;
}
#aspects .main-heading span{
    font-size: 30px;
}
#aspects .main-heading h2{
    font-size: 40px;
}
#aspects .main-heading h2::after{
    background-color: white;
}
#aspects .main-heading h2::before{
    background-color: white;
}
#aspects .button{
   text-align: center;
}
#aspects .button a{
    position: relative;
    padding: 10px 15px;
    border: white solid 2px;
    border-radius: 25px;
    color: white;
    display: inline-block;
    margin-top: 30px;
    font-size: 15px;
    transition: background-color 0.5s;
}
#aspects .button a:hover{
    background-color: white;
    color: #32353e;
}


/* form */
#form{
    padding: 50px 0;
}
#form .main-heading h2{
    font-size: 35px;
}
#form .main-heading span{
    font-size: 25px;
}

#form h2{
    color: #32353e;
    display: flex;
    justify-content: center;
    text-align: center;
}

#form .form-box{
    margin: 30px 0;
    text-align: center;
}

.form-box input,
.form-box select{
    display: inline-block;
    width: 60%;
    padding: 22px 20px;
    margin-bottom: 30px;
    border: none;
    outline: 0;
    background: #f6f6f6;
    font-size: 16px;
}
.form-box select:hover{
    background: #ddd;
}
#form .button{
    text-align: center;
}
#form .button a{
    display: inline-block;
    background-color:#15c0c7;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
}

#form .button a:hover{
    background-color: #32353e;
}
@media (max-width: 768px){
    .form-box input,
    .form-box select{
        width: 100%;
    }
}

/*Footer */
footer{
    background-color: #32353e;
    color: white;
    text-align: center;
    padding: 35px 0;
}
footer .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer P{
    padding-top: 10px;
}
footer p a{
    color: white;
}
footer p a:hover{
    color: #15c0c7;
}